body {
    background-color: #F6D188;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}